<ul>
    <li class="article" ng-repeat="article in articles track by $index">

        <!-- quote count -->
        <div class="article-quotes-header">

            <div>
                <span ng-pluralize count="article.quotes.length" when="pluralizeQuotes()">
                            </span>
                <a ng-href="{{article.url}}" class="article-title"> {{article.title || 'Unkown title'}} </a>
            </div>

            <div class="article-actions">
                <button ng-click="article.showQuotes = !article.showQuotes;">
                            {{article.showQuotes ? 'hide':'show'}} Quotes
                        </button>

                <button ng-click="article.showEntities = !article.showEntities;">
                            {{article.showEntities ? 'hide':'show'}} Entities
                        </button>

                <button ng-click="article.showInfo = !article.showInfo;">
                            {{article.showInfo ? 'hide':'show'}} Info
                        </button>

                <button ng-click="article.showText = !article.showText;">
                            {{article.showText ? 'hide':'show'}} Article
                            </button>
            </div>
        </div>

        <!-- article quotes -->
        <div ng-show="article.showQuotes" class="quotes-section">
            <hr>
            <h4>Quotes</h4>
            <button ng-click="article.showQuotes = !article.showQuotes;">
                            {{article.showQuotes ? 'hide':'show'}} Quotes
                        </button>
            <ul class="article-quotes">
                <li ng-repeat="quote in article.quotes" class="quote">
                    <span>{{quote.text}} - <strong>{{quote.canonicalSpeaker||quote.speaker}}</strong> </span>
                </li>
            </ul>
        </div>

        <!-- entities -->
        <div class="entity-section" ng-if="article.entities" ng-show="article.showEntities">
            <hr>
            <h4>Entities</h4>
            <button ng-click="article.showEntities = !article.showEntities;">
                            {{article.showEntities ? 'hide':'show'}} Entities
                        </button>
            <span class="positive">Positive</span>
            <span class="negative">Negative</span>
            <ul class="entities">
                <li class="entity" ng-if="entities.length" ng-repeat="(entityType, entities) in article.entities">
                    <strong class="capitalize">{{entityType | webhose}}: </strong>
                    <span ng-repeat="e in entities" class="capitalize" ng-class="e.sentiment">
                                    {{e.name}}<span ng-if="!$last">,</span>
                    </span>
                </li>
            </ul>
        </div>

        <!-- article info -->
        <div class="article-section" ng-show="article.showInfo">
            <hr>
            <h4>Article Info</h4>
            <button ng-click="article.showInfo = !article.showInfo;">
                            {{article.showInfo ? 'hide':'show'}} Info
                        </button>
            <div class="article-info">

                <h4>Published: {{article.published | date}}</h4>
                <h4>Author: {{article.author||'Unknown'}}</h4>
                <h4>Country: {{article.thread.country}}</h4>
                <h4>Site: <a ng-href="{{article.thread.site}}"> {{article.thread.site}}</a>
                </h4>
                <h4 class="capitalize">Site type: {{article.thread.site_type}}</h4>
                <h4>Site Category:
                    <span class="category capitalize" ng-repeat="category in article.thread.site_categories">
                                        {{category|webhose}}
                                <span class="comma" ng-if="!$last">,</span>
                    </span>
                </h4>
                <h4>Domain Rank: {{article.thread.domain_rank}}</h4>
                <h4>Performance Score: {{article.thread.performance_score}}</h4>
                <h4>Spam score: {{article.thread.spam_score}}</h4>
                <br/>
                <ul class="networks">
                    <li class="network" ng-repeat="(network, data) in article.thread.social" ng-if="data.comments||data.likes||data.shares">
                        <h4>{{network}} Engagement</h4>
                        <span ng-if="data.comments">Comments: {{data.comments}}</span>
                        <span ng-if="data.likes">Likes: {{data.likes}}</span>
                        <span ng-if="data.shares">Shares: {{data.shares}}</span>
                    </li>
                </ul>
            </div>

        </div>

        <!-- article text -->
        <div class="article-text-section" ng-show="article.showText">
            <hr>
            <h4>Article</h4>
            <button ng-click="article.showText = !article.showText;">
                            {{article.showText ? 'hide':'show'}} Article
                            </button>
            <div>
                <h4> {{article.title || 'Unkown title'}} </h4>
                <!--<span class="highlight-search">Search Terms</span>-->
                <!--<span class="highlight-quotes">Quotes</span>-->
                <!--<span class="highlight-entities">Entities</span>-->
                <p class="article-text" ng-bind-html="article.text"></p>
            </div>
        </div>

    </li>

</ul>
