<div class="filter-select">
    <h3>Search Filters</h3>
    <a href="https://docs.webhose.io/docs/filters-reference">Webhose Reference</a>
    <br/>
    <select ng-model="search.newFilter">
<option ng-repeat="(key, option) in options.filters" ng-value="key">{{option.label||key | webhose}}</option>
    </select>
    <button ng-click="addFilter()">Add filter</button>
</div>
<div class="filter" ng-repeat="filter in search.filters track by $index" ng-if="filter">
    <label><strong>{{filter.label||filter.name | webhose}}</strong></label>
    <select ng-if="options.equality[filter.type]" ng-model="filter.equality" ng-model-options="{ debounce: 5000 }">
        <option ng-repeat="equality in options.equality[filter.type]" ng-value="equality.value" >{{equality.label}}</option>
    </select>
    <span class="filter-value">
        <input ng-if="options.filters[filter.name].element=='input'" type="{{options.filters[filter.name].type}}" ng-model="filter.value"  ng-model-options="{ debounce: 5000 }">
        <span class="sentiment" ng-if="options.filters[filter.name].element=='sentiment'">
            <label>Type</label>
            <select ng-model="filter.value.entityType" ng-model-options="{ debounce: 5000 }">
                <option ng-repeat="option in options.filters[filter.name].options.entity" ng-value="option">
                    {{option}}
                </option>
            </select>
            <label>Name</label>
             <input type="text" ng-model="filter.value.entity" ng-model-options="{ debounce: 5000 }">
             <label>Sentiment</label>
             <select ng-model="filter.value.sentiment"  ng-model-options="{ debounce: 5000 }">
                <option ng-repeat="option in filter.options.sentiment" ng-value="option">
                    {{option}}
                </option>
            </select>
        </span>
    <select ng-if="options.filters[filter.name].element=='select'" ng-model="filter.value" ng-model-options="{ debounce: 5000 }">
            <option ng-repeat="option in filter.options" ng-value="option">
                {{option|webhose}}
            </option>
        </select>
    </span>
    <span>
        <button ng-click="search.filters.splice($index, 1)">Delete</button>
    </span>
    <!--<select ng-model="filter.link" ng-model-options="{ debounce: 5000 }" ng-if="!$last">-->
    <!--     <option ng-repeat="option in options.links" ng-value="option.value">{{option.label}}</option>-->
    <!--</select>-->
</div>
