<div class="search">

    <h2 class="title">Fireborn</h2>

    <hr>
    <div class="search-select">
        <h3>Searches</h3>
        <select ng-model="search">
            <option ng-repeat="s in searches" ng-value="s">{{s.name}}</option>
        </select>
        <input type="text" ng-model="search.name" ng-model-options="{ debounce: 5000 }">
        <!--<button ng-click="searches.$save(search)">Save</button>-->
        <button ng-click="createSearch()">New Search</button>
        <button ng-click="searches.$remove(search)">Delete Search</button>
    </div>

    <div class="search-form" ng-form="searchForm" ng-if="search">

        <ng-include class="filters" src="'filter.html'" ng-if="search"></ng-include>

        <div class="search-options">
            <h3>Options</h3>

            <!--<div>-->
            <!--    <label>Publication Count (max 100)</label>-->
            <!--    <input type="number" ng-model="search.size" ng-disabled="true">-->
            <!--</div>-->

            <div>
                <label>Sort By</label>
                <select ng-model="search.sort">
                    <option ng-repeat="sort in options.sort track by $index" ng-value="sort">
                        {{sort|webhose}}
                    </option>
                </select>
            </div>

            <div>
                <label>Sort Order</label>
                <select ng-model="search.order">
                    <option ng-repeat="order in options.order" ng-value="order.value">
                        {{order.label}}
                    </option>
                </select>
            </div>
        </div>

        <div>
            <button class="button-large" ng-click="search.pending=true;" ng-disabled="search.pending===true">Search</button>
        </div>

    </div>

    <hr>

    <div class="search-results" ng-show="search.articles">
        <!--<label>Group results by</label>-->
        <!--<select ng-model="resultsView" class="capitalize" ng-options="option.value as option.label for option in viewOptions" ng-init="resultsView = resultsView || viewOptions[0].value">-->
        <!--</select>-->
        <!--<h4>Results: {{search.results.posts.length||0}}</h4>-->
        <!--<h4>Requests left: {{search.results.requestsLeft||0}}</h4>-->
        <!--<h4>Total articles: {{search.results.totalResults||0}}</h4>-->
        <span>
           <button type="button" ng-csv="search.results" filename="{{model.name + '.csv'}}">Export to CSV</button>
        </span>
    </div>

    <div>
        <ng-include src="'articles.html'"></ng-include>
    </div>

    <!--<ol ng-if="resultsView==='people'" class="people-results" ng-show="search.results.people.length">-->

    <!--    <li class="person" ng-repeat="person in search.results.corenlp.cluster.people track by $index">-->

    <!--        <span>{{$index+1}}</span> person-->

    <!--        <h4 class="name">{{person.name}}</h4>-->

    <!--        <span>-->
    <!--        <span ng-pluralize count="person.quotes" when="pluralizeQuotes()"></span>-->
    <!--        <span>{{person.articles.length}} articles</span>-->
    <!--        </span>-->

    <!--        <button ng-if="person.articles" ng-click="toggleQuotes(person)">-->
    <!--            {{person.showQuotes ? 'hide':'show'}} Articles-->
    <!--        </button> quotes-->

    <!--        <ul ng-if="person.showQuotes" class="person-quotes">-->
    <!--            <li ng-repeat="getQuotes(person)"></li>-->
    <!--        </ul>-->

    <!--        <ng-include src="'articles.html'" ng-if="person.showArticles"></ng-include>-->

    <!--    </li>-->
    <!--</ol>-->

</div>
