/* search select */

.search>* {
    margin: 1em;
}

.search-select {
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.search-select>* {
    margin: 0.7em;
}

/* filters */

.filter-select>h3 {
    margin-right: 1.5em;
}

.filter-select>h3,
.filter-select>a {
    display: inline-block;
}

.filter-select>select,
.filter-select button {
    margin-top: 0.7em;
    margin-bottom: 0.5em;
}

.filter-select {
    margin-left: 0.4em;
    margin-bottom: 2em;
}

.filter-select,
.filter {
    padding-left: 0.5em;
}

.filter {
    margin: 1em 0.5em 0.5em 0.5em;
}

.filter>* {
    margin: 0.7em;
}

.filter>.filter-value>.sentiment {
    display: inline-block;
}

.sentiment>* {
    margin: 0.7em;
}

/* search options */

.search-options {
    margin: 0.7em;
}

.search-options>h3 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.search-options>div {
    margin: 1em;
}

.search-options>div>* {
    margin: 0.5em;
}

.button-large {
    width: 50%;
    margin: 5% 25% 5% 25%;
    height: 40px;
}

/* search results */

.search-results {
    padding-left: 0.7em;
}

.search-results>* {
    display: inline-block;
    margin: 1em;
}

/* people results */

.people-results {
    list-style-type: none;
    padding-left: 0;
}

.person>.name {
    display: inline-block;
    text-transform: capitalize;
}

.person>span {
    margin: 0.5em;
}

.person>button {
    margin: 1em;
    float: right;
}

/* article by person */

.person-quotes {
    list-style-type: none;
    padding-left: 1em;
}

.person-quotes>li {
    border: 1px solid #eee;
}

.person-quotes>li:nth-child(odd) {
    background-color: #e1f5fe;
}

.article {
    padding: 1em;
}

.article hr {
    margin-top: 1em;
}

.article-title {
    text-decoration: underline;
}

.article-quotes-header>div {
    margin: 0.5em;
    display: inline-block;
}

.article-actions>button {
    margin: 0.8em 0.7em 0.7em 0em;
}

/* quote section */

.quotes-section>h4 {
    display: inline-block;
    margin-right: 1em;
}

.article-quotes>li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* entity section */

.entities {
    list-style-type: none;
}

.entity {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.positive {
    background-color: green;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.negative {
    background-color: red;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.entity-section>h4 {
    display: inline-block;
    margin-right: 1em;
}

.entity-section>span {
    margin-left: 0.7em;
}

.entity>span {
    text-transform: capitalize;
}

/* article info */

.article-section>h4 {
    display: inline-block;
    margin-right: 1em;
}

.article-info>h4 {
    display: inline-block;
    margin-right: 1em;
}

.category .comma {
    margin-left: -0.3em;
}

/* network */

.network>h4,
.network>span {
    display: inline-block;
    margin: 0.5em;
    text-transform: capitalize;
}

.network {
    margin-left: -0.5em;
    margin-bottom: 0.75em;
}

.networks {
    list-style-type: none;
    padding-left: 0em;
}

/* article text section */

.article-text-section>h4 {
    margin-right: 1em;
    display: inline-block;
}

/* article text */

.article-text {
    word-spacing: 3px;
}

.highlight-entities {
    background-color: yellow;
}

.highlight-quotes {
    background-color: orange;
}

.highlight-search {
    background-color: red;
}
