/* shared */

body {
    font-family: 'Roboto', sans-serif;
}

.capitalize,
label,
button,
select,
option {
    text-transform: capitalize;
}

body {
    padding: 5%;
}

.title {
    display: inline-block;
}
